[Desktop Entry]
Version=0.2
Encoding=UTF-8
Name=BeQunge
GenericName=BeQunge
Comment=BeQunge is an n-dimensional code editor, interpreter and debugger for the Funge programming language.
Exec=bequnge
Terminal=false
Type=Application
Categories=Application;Development;
MimeType=application/x-bequnge;
Icon = /usr/share/bequnge/beq.png
