Source: bequnge
Section: universe/devel
Priority: optional
Build-Depends: debhelper, libboost-dev, libqt4-dev ( >= 4.4), gcc (>= 4:4.0), cmake (>= 2.6)
Maintainer: John Maguire <john.maguire@gmail.com>
Standards-Version: 3.7.2

Package: bequnge
Architecture: any
Depends: ${shlibs:Depends}
Description: BeQunge is an n-dimensional code editor, interpreter and debugger for the Funge programming language.

